{% block content %} 
	<div class="container-fluid light-teal">
		<h3 class="text-center section-title">About Kristina</h3>
		<hr class="small-teal" align="center">
	</div>
	<div class="container-fluid off-white">
		<div class="row">
			<div class="col-sm-5">
				<img src="{{ "about_main_img.png" | asset_url }}" class="img-responsive" alt="">
			</div>
			<div class="col-sm-7">
				<h3>Kristina Fitzpatrick is an experienced host and reporter with a diverse broadcasting background.</h3>
				<hr class="small-pink" align="left">
				<p>
					Kristina Fitzpatrick (née Akra) covers the Atlanta Braves on FoxSports South with in-game reports from the field and as a host for Braves Live. She also currently serves as a Sports Anchor for HLN and CNN on shows such as Weekend Express with Lynn Smith and New Day.
					<br><br>
					Prior to rejoining FS South in Atlanta where she resides, Kristina was a host for MLB Network in Secaucus, NJ where she worked with some of the most respected analysts in baseball on programming such as "MLB Now and “High Heat with Christopher Russo".
					<br><br>
					For the 2013 College Football season, Kristina covered SEC on CBS as a sideline reporter.
					<br><br>
					In 2012, Kristina was the in-game reporter for the Washington Nationals working in the Nation’s Capital for Mid-Atlantic Sports Network.
					<br><br>
					Before MASN, Kristina was co-host of FoxSports South’s college football preview show, “SEC Gridiron Live” and was a part of the FS South game broadcast crew as the sideline reporter for SEC Football.
					<br><br>
					During the 2010-11 NCAA Basketball season Kristina worked as a sideline reporter for CoxSports and the Big East Network’s coverage of Providence College home games. She also hosted "Friars All Access,"with Providence Head Coach Keno Davis, giving fans an inside look at the PC Basketball Program.
					<br><br>
					In 2010, Kristina worked for Kraft Sports Productions, the in-house production company for the New England Patriots. She covered the Patriots year round as the host and producer of Patriots Today, a daily webshow on the team’s official site, <a href="http://patriots.com">Patriots.com.</a> Kristina also contributed as a reporter for Patriots All Access, a weekly news magazine show airing on Boston’s CBS affiliate WBZ TV. During her time at KSP, Kristina also worked as the sideline reporter for the MLS team, the New England Revolution.
					<br><br>	
					Continued below ...
				</p>
			</div>
		</div>
	</div>
	{% include "sponsor" %}
	<div class="container-fluid off-white">
		<div class="row">
			<div class="col-sm-7">
				<p>Kristina began her career as a reporter for the University of Florida affiliated production company, GatorVision, conducting weekly reports and interviews for “GatorZone,” a show featuring Florida Gator athletics on SunSports. As a graduate of the University of Florida College of Journalism and Communications, Kristina has a background in news as a reporter and anchor for WUFT News 5, Gainesville’s PBS affiliate.
 				<br><br>
				A trained dancer, with over 20 years of experience in competing, choreographing and teaching, Kristina continued her craft as a student at UF as a 4-year member of the University of Florida “Dazzler” Dance Team.
				<br><br>	
				Kristina lives in Atlanta with her husband John. They are expecting a baby boy in January 2016.</p>
			</div>
			<div class="col-sm-5">
				<img src="{{ "about_secondary_img.png" | asset_url }}" class="img-responsive" alt="">
			</div>
		</div>
	</div>
{% endblock %}