<!--Begin Contact Form-->

<!--NAME && LAST NAME-->
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div class="form-group ">
        <input class="form-control empty" id="iconified name" name="name" type="text" placeholder="&#xf007; Name"/>
      </div>
    </form>
  </div>
  <div class="col-md-6">
  	<form method="post">
      <div class="form-group ">
        <input class="form-control empty" id="iconified lastname" name="lastname" type="text" placeholder="&#xf007; Last Name"/>
      </div>
    </form>
  </div>
</div>

<!--EMAIL && WEBSITE-->
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div class="form-group ">
        <input class="form-control empty" id="iconified email" name="email" type="text" placeholder="&#xf0e0; Email"/>
      </div>
    </form>
  </div>
  <div class="col-md-6">
  	<form method="post">
      <div class="form-group">
        <input class="form-control empty" id="iconified website" name="website" type="text" placeholder="&#xf0ac; Website"/>
      </div>
    </form>
  </div>
</div>

<!--MESSAGE BOX-->
<div class="row">
  <div class="col-md-12">
    <form method="post">
      <div class="form-group">
        <textarea class="form-control empty" name="message" id="iconified message" cols="5" rows="5" placeholder="&#x270f; Your Message"></textarea>
      </div>
    </form>
  </div>
  <div class="col-md-2 col-md-offset-10">
    <a href="#" class="btn btn-default btn-pink" type="submit">Send Message</a>
  </div>
</div>
