<footer>
	<div class="container-fluid light-gray">
		<div clas="row">
			<div class="col-xs-9">
				
			</div>
			<div class="col-xs-3">
				<div class="back-to-top">
					<!-- Return to Top Button-->
					<a href="#">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid dark-gray">
		<div class="row">
			<div class="col-sm-8">
				<nav class="footer-nav">
				  <ul class="list-unstyled list-inline">
				    <li ><a href="#">Home</a></li>
				    <li><a href="#">About</a></li>
				    <li><a href="#">Media</a></li>
				    <li><a href="#">Blog</a></li>
				    <li><a href="#">Contact</a></li>
				  </ul>
				</nav>
				<hr class="lg-light-gray">
			</div>
			<div class="col-sm-4 mobile-hide">
				<p class="text-left">Stay Connected</p>
			</div>
			<div class="col-sm-4 mobile-hide">	
				<ul class="social-icons list-unstyled list-inline">
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 desktop-hide">	
				<ul class="social-icons list-unstyled list-inline">
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<span class="text-left">Copyright &copy; 2015 Kristina Fitzpatrick</span>
			</div>
		</div>
	</div>
</footer>
<!--end footer-->