.feature-container {
	.feature{
		position: relative;
		width: 100%;
		height: auto;

		.feature-text{
			position: relative;
			top: 100%; 
			left: 0; 
			width: 100%; 
			padding-left: 0;
			@media (min-width: 960px) {
				position: absolute;
				padding-left: 0;
				top: 25%;
				padding-left: 60%;
			}
		}
	}
}