{% block content %} 
	<div class="container-fluid light-teal">
		<h3 class="text-center section-title">Getting to know FOX Sports South Braves reporter Kristina Fitzpatrick</h3>
		<hr class="small-teal" align="center">
	</div>
	<div class="container-fluid off-white">
		<div class="row">
			<div class="col-sm-8">
				<img src="{{ "blog_details_main_img.png" | asset_url }}" class="img-responsive" alt="">
				<h3>Getting to know FOX Sports South Braves reporter Kristina Fitzpatrick</h3>
				<span>Posted on July 10th, 2015 in Press Releases</span>
				<p>
					<b>ATLANTA –</b> The Atlanta Braves return to Turner Field on Friday for their home opener. First pitch is scheduled for 7:35 p.m. ET on FOX Sports South against the New York Mets. Starting at 5:30 p.m. FOX Sports South will broadcast a special two-hour edition of “Braves Live” leading all the way up to first pitch. On “Braves Live” fans be re-introduced to Braves reporter Kristina Fitzpatrick, who returned to FOX Sports South in March. Prior to her big night Friday, she sat down to answer a number of questions:
					<br><br>					

					<b>What’s it like to be back at FOX Sports South?</b>
					<br><br>					
					I was with FOX Sports South back in 2010 doing SEC Gridiron Live in its second and third seasons of existence. I was [also] doing SEC football sidelines. It’s actually great to be back because I’ve been in baseball, and the Braves were a position that I eyed back when I was with FOX Sports South [previously], and would have loved the opportunity to cover the Braves here in Atlanta. After a few years of going elsewhere and doing the many opportunities that have come my way, I’m getting that opportunity to come back home to Atlanta — which has been home for five years now, since I started in 2010 — and cover the hometown team and live here full time and be a part of Braves country.
					<br><br>
					
					<b>Give us a rundown of what you’ve been doing since you were with FOX Sports South last?</b>
					<br><br>
					I left after the 2011 football season and took a job covering the Washington Nationals. It was my first opportunity to cover a team on a regional sports broadcast (MASN — Mid-Atlantic Sports Network), and it was an unbelievable opportunity. It gave me a lot of insight into the game itself. I was a fan and knew baseball going in, but you learn so much more when you spend day in and day out with one team, traveling with the team, just trying to cover it from every angle. It was a great opportunity. I worked with some unbelievable people and made some great relationships. But D.C. was not home at the time, Atlanta still was.
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Recent Posts</h3>
				<hr class="small-teal" align="left">
				<ul class="list-unstyled">
					<li class="off-white">Test List Items</li>
					<li class="off-white">Test List Items</li>
					<li class="off-white">Test List Items</li>
					<li class="off-white">Test List Items</li>
				</ul>
				<h3>Latest Tweets</h3>
				<hr class="small-teal" align="left">
				<!-- Insert Sidebar Here -->
			</div>
		</div>
	</div>
{% endblock %}