{% block content %} 
	<div class="container-fluid light-teal">
		<h3 class="text-center section-title">Media</h3>
		<hr class="small-teal" align="center">
	</div>
	<div class="container-fluid off-white">
		<div class="container white">
			<div class="row">
				<div class="col-sm-6">
					<img src="{{ "blog_img_1.png" | asset_url }}" class="img-responsive" alt="">
				</div>
				<div class="col-sm-6">
					<h3>Getting to know FOX Sports South Braves reporter Kristina Fitzpatrick</h3>
					<span>Posted on July 10th, 2015 in Press Releases</span>
					<p><b>ATLANTA –</b> The Atlanta Braves return to Turner Field on Friday for their home opener. First pitch is scheduled for 7:35 p.m. ET on FOX Sports South against the New York Mets. Starting at 5:30 p.m. FOX Sports South will broadcast a special two-hour ...</p>
					<a href="/blog/blog-details" class="btn btn-default btn-pink" type="submit">Read More</a>
				</div>
			</div>
		</div>
		<div class="container white">
			<div class="row">
				<div class="col-sm-6">
					<img src="{{ "blog_img_2.png" | asset_url }}" class="img-responsive" alt="">
				</div>
				<div class="col-sm-6">
					<h3>Take me out to the ball game!</h3>
					<span>Posted on July 10th, 2015 in Press Releases</span>
					<p><b>ATLANTA –</b>After two years with MLB Network and spending my summers living in Manhattan, I am excited for the opportunity to live full-time at home in Atlanta this season and cover the hometown team. But more importantly I’m ready to get back out to the ballpark! There’s something about the atmosphere... </p>
					<a href="#" class="btn btn-default btn-pink" type="submit">Read More</a>
				</div>
			</div>
		</div>
		<div class="container white">
			<div class="row">
				<div class="col-sm-6">
					<img src="{{ "blog_img_3.png" | asset_url }}" class="img-responsive" alt="">
				</div>
				<div class="col-sm-6">
					<h3>Opening Day: When everyone feels like a kid again...</h3>
					<span>Posted on July 10th, 2015 in Press Releases</span>
					<p><b>ATLANTA –</b> Cheers to baseball fans everywhere who have waited for this day to arrive! There’s nothing like the atmosphere at the ballpark when it comes to sporting events and opening day has that extra charm. It is the one day of the season ...</p>
					<a href="#" class="btn btn-default btn-pink" type="submit">Read More</a>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}